@import "tailwindcss";

@source '../views';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
    root: ":root";
    logs: false;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@import "./sidebar.css";
